#adsl_configuration {
	width: 425px;
}

#adsl_profile_n1 {
        margin-left: 32px;
}
#adsl_profile_n2 {
        margin-left: 53px;
}
#adsl_profile_n3 {
        margin-left: 47px;
}
#adsl_profile_n4 {
        margin-left: 45px;
}
#adsl_profile_n5 {
        margin-left: 47px;
}
#adsl_profile_n6 {
        margin-left: 48px;
}